In [ ]:
#factorial with recursion function
def factorial(n):
 if n==0:
  return 1
 else:
    return(n*factorial(n-1))
print(factorial(5))

In [ ]:
#factorial without recursive function
num= int(input("number for fatorial"))
factorial=1
for i in range(1,num+1):
  factorial = factorial*i
print(num,'!',"=",factorial)

In [ ]:
#find out print numbers
prime=[]
for i in range(2,20):
 c=0
 for j in range(1,i):
    if i%j==0:
      c+=1
 if c==1:
  prime.append(i)
print(prime)
print(sum(prime))

In [ ]:
#check if given number is prime or not
n=int(input("number"))
for i in range(2,n):
 if n%i==0:
   print("not a prime number")
   break
 else:
  print("prime number")
  break

number6
not a prime number

In [ ]:
#write a given string in reverse order
str1=input()
list1=str1.split(' ')
print(list1)
list2=list1[::-1]
print(list2)
str2=' '.join(list2)
print(str2)

In [ ]:
#palindrome
s=input()
if s==s [::-1]:
  print("palindrome")
else:
  print("not palindrome")

hkiyyu
not palindrome

In [ ]:
mylist=[1,2,2,2,3,3,4,5,5,6,6]
new_list=[]
for i in mylist:
   if mylist.count(i)==1:
     new_list.append(i)
print(new_list)

[1, 4]

In [ ]:
#using list comprehension
[i for i in mylist if mylist.count(i) == 1]

[1, 4]

In [ ]:
#find the occurence of each element
str1="a,a,a,b,b,c,c,c"
list1=str1.split(',')
count_ele= []
str_ele= []
for ch in list1:
  if not ch in str_ele:
    count_ele.append(f"{ch}:{list1.count(ch)}")
    str_ele.append(ch)
print(",".join(count_ele))

a:3,b:2,c:3

In [ ]:
#lambda functions
b=[[6,8],[90,4],[23,67]]
c=[2,8,6,9,10,23,14]
b.sort(key=lambda x:x[0])
print(b)
print(sorted(c))

[[6, 8], [23, 67], [90, 4]]
[2, 6, 8, 9, 10, 14, 23]

In [ ]:
try:
  n=int(input("how many numbs"))
except:
  print("please enter number ")
else:
  list_num=[]
  try:
    for i in range(n):
      num=int(input())
      list_num.append(num)
    mean=lambda x:sum(x)/len(x)
    print(mean(list_num))
  except:
    print("some error occured")

how many numbs4
some error occured
5678

In [ ]:
2+6+3+6

17

In [ ]:
40/5

8.0

In [ ]:
#increasing triangle with increasing numbs
n=5
p=1
for i in range(n):
   for j in range(i+1):
      print(p,end=' ')
   p+=1
   print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#increasing triangle decreasing numbers
n=5
p=n
for i in range(n):
   for j in range(i+1):
     print(p,end=' ')
   p-=1
   print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
#increasing triangle even numbs
n=5
p=0
for i in range(n):
  for j in range(i+1):
    print(p,end=' ')
  p+=2
  print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [ ]:
#increasing triangle even numbs
n=5
for i in range(n):
  for j in range(i+1):
     if (i%2==0):
      print(1,end=' ')
     else:
      print(2,end=' ')
  print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
p=1
for i in range(n-1):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print(p,end=' ')
  for j in range(i):
    print(p,end=' ')
  p+=1
  print()
for i in range(n):
  for j in range(i+1):
     print(' ',end=' ')
  for j in range(i,n):
    print(p,end=' ')
  for j in range(i,n-1):
    print(p,end=' ')
  p+=1
  print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [ ]:
n=5
p=1
for i in range(n-1):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print(p,end=' ')
  for j in range(i):
    print(p,end=' ')
  p+=1
  print()
for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n):
    print(p,end=' ')
  for j in range(i,n-1):
    print(p,end=' ')
  p-=1
  print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [ ]:
#increasing triangle with increasing numbs
n=5
for i in range(n):
  p=1
  for j in range(i+1):
    print(p,end=' ')
    p+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=5
for i in range(n):
    for j in range(i+1):
      print(' ',end=' ')
    p=1
    for j in range(i,n):
       print(p,end=' ')
       p+=1
    print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [ ]:
#hill pattern
n=5
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  p=1
  for j in range(i+1):
    print(p,end=' ')
    p+=1
  for j in range(i):
    print(p,end=' ')
    p+=1
  print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [ ]:
n=5
p=1
for i in range(n):
  for j in range(i+1):
    print(p,end=' ')
    p+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15